<!DOCTYPE html>
<html>
<head>
	<title>Mon site de commande de restaurant</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		html{
			height: 100%;
		}
		body {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 100%;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Mon site de commande de restaurant</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Commander</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Réserver</a>
				</li>
				{% if user.is_authenticated %}
				{% for group in user.groups.all %}

        		{% if group.name == 'Client' %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'cart' %}">Mon Panier</a>
				</li>
				{% endif %}
				{% if group.name == 'Restaurateur' %}
				<li class="nav-item">
					<a class="nav-link" href="#">Mes réservations</a>
				</li>
				{% endif %}
				{% endfor %}
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-auto">


				{% if user.is_authenticated %}



				<li class="nav-item">
					<a class="nav-link" href="#">Profil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
				</li>



				{% else %}



				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Connexion</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'registerClient' %}">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register_restaurateur' %}">As restaurateur</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<h1>Bienvenue sur mon site de commande de restaurant</h1>
		<p>Vous pouvez commander, réserver et gérer vos commandes ou réservations en toute simplicité.</p>
	</div>
	<div>
		<center>
		{% if user.is_authenticated %}

    {% for group in user.groups.all %}

        {% if group.name == 'Client' %}
            <div class="menu">
                {% for product in products %}
	        	<h5>{{ product.name }}</h5>
				<h5>{{ product.description }}</h5>
				{% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }} Thumbnail">
           		{% endif %}
				<br><br>
				<p><a href="{% url 'add_to_cart' product.slug %}">ajouter dans le panier</a></p>		 
				<br><br><br><br><br><br><br>       
				{% endfor %}
            </div>
        {% endif %}

        {% if group.name == 'Restaurateur' %}
            <div class="menu">
                <h1>Restaurateur</h1>
				<a href="{% url 'AjoutPlat' %}">ajouter un produit</a>
            </div>
        {% endif %}

    {% endfor %}

    {% endif %}
</center>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
