{% extends 'base.html' %}
{% block content %}
	<div class="container mt-5">
		<h1>Bienvenue sur mon site de commande de restaurant</h1>
		<p>Vous pouvez commander, réserver et gérer vos commandes ou réservations en toute simplicité.</p>
	</div>
	<div>
		<center>
		{% if user.is_authenticated %}

    {% for group in user.groups.all %}

        {% if group.name == 'Client' %}
           
        {% endif %}

        {% if group.name == 'Restaurateur' %}
		<div>
			<br>
			{% if restos %}
			<!-- le restaurateur a déjà inséré des restaurants -->
			<h3>Choix du restaurant</h3>
			<div class="restaurant-links">
				{% for resto in restos %}
					<a href="{% url 'espace_restaurant' resto.id %}" class="restaurant-link">{{ resto.resto_name }}</a>
				{% endfor %}
			</div>
			
			
			{%else%}
			<!-- le restaurateur n'a pas déjà ... -->
			<h3>Veillez ajouter un restaurant</h3>
			{%endif%}

			<a class="btn btn-primary" href="{% url 'ajout_restaurant' %}" style="clear:both;">Ajouter Restaurant</a>
		</div>
        {% endif %}

    {% endfor %}

    {% endif %}
</center>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	
{% endblock %}