{% extends 'base.html' %}
{% block content %}
<center>
    
    <div class="container">
        <h2 class="m-4">Avis et critiques sur <strong>{{resto.resto_name}}</strong></h2>
        <h2 class="mb-4 mt-0">
            <span  style="color: rgb(250, 212, 0);">★</span>
                    {% if resto.moyenne >= 2%}
                    <span style="color: rgb(250, 212, 0);">★</span>
                    {%endif%}
                    {% if resto.moyenne >= 3%}
                    <span style="color: rgb(250, 212, 0);">★</span>
                    {%endif%}
                    {% if resto.moyenne >= 4%}
                    <span style="color: rgb(250, 212, 0);">★</span>
                    {%endif%}
                    {% if resto.moyenne == 5%}
                    <span style="color: rgb(250, 212, 0);">★</span>
                    {%endif%}
                    ({{resto.moyenne|floatformat:1 }})
        </h2>
        <br>
        <div class="row">
          {% for a in avis %}
          <div class="col-md-3">
            <div class="card-body mb-4 d-flex flex-column" style="text-align: left;" id="card-avis">
              
                <h4 class="card-title">
                    <strong>{{a.auteur.username}}</strong>
                    <span class="stars-avis">★</span>
                    {% if a.note > 1%}
                    <span class="stars-avis">★</span>
                    {%endif%}
                    {% if a.note > 2%}
                    <span class="stars-avis">★</span>
                    {%endif%}
                    {% if a.note > 3%}
                    <span class="stars-avis">★</span>
                    {%endif%}
                    {% if a.note > 4%}
                    <span class="stars-avis">★</span>
                    {%endif%}
                    
                </h4>
                <h6 class="card-subtitle mb-2">{{a.date_avis}}</h6>
                <p class="card-text">{{a.commentaire}}</p>
                {%if user == a.auteur %}
                <div class="mt-auto">
                    <a class="card-link btn btn-outline-danger" href="{% url 'supprimer_avis' a.id%}">Supprimer mon avis</a>
                </div>
                {%endif%}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
      
      
      


    <br><br>
    {% if user.is_authenticated %}

    {% for group in user.groups.all %}

        {% if group.name == 'Client' %}
        <h3>Ajouter un commentaire</h3>
        
        <form action="{% url 'avis_restaurant' resto.id %}" method="post" class="col-md-6">
            {% csrf_token %}
            <div class="form-group">
                {{ avis_form.note.label_tag }}
                <input type="number" name="{{ avis_form.note.name }}" class="form-control" min="1" max="5" required>
            </div>
            <div class="form-group">
                {{ avis_form.commentaire.label_tag }}
                {{ avis_form.commentaire }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        
        
        {% endif %}

        {%endfor%}
    {%endif%}
</center>

  
  
{% endblock %}

