{% extends 'base.html' %}
{% block content %}
{% for message in messages %} 
<strong> {{ message }} </strong> 
{% endfor %}

{% if user.is_authenticated %}

<a id="acceuil-button" style="color:transparent;" href="{%url 'home'%}">Accueil</a>
<script>
    Swal.fire({
        icon: 'success',
        title: 'Successfully connected ',
        showConfirmButton: false,
        timer: 2000
    })
    var bouton = document.getElementById("acceuil-button");
    setTimeout(function mafonction() { bouton.click();}, 2000);
    // Déclenchez le clic sur le bouton
    
</script>

{% else %}
<button type="submit"><a href="/register">s'enregistrer</a></button>
<button type="submit"><a href="/login">se connecter</a></button>


{% endif%}
{% endblock %}