{% extends 'base.html' %}
{% block content %}

<center class="mt-4"><h2>Se connecter ici</h2></center>

{% if message %}
    <center class="text-danger"><strong> {{ message }} </strong></center> 
{% endif %}

<div class="m-auto w-50">

<form method="post" action="/login" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Enter Your Username" required>
    <br>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Your password" required>
    <br>
    <button type="submit" class="btn btn-primary">Se connecter</button>  <a href="{%url 'home'%}"class="ml-2">Vous n'avez pas un compte</a>
</form>
</div>
{% endblock %}