{% extends 'base.html' %}
{% block content %}

<center><h2>Se connecter ici</h2></center>

{% for message in messages %}
    <strong> {{ message }} </strong> 
{% endfor %}

<div class="m-auto w-50">

<form method="post" action="/login" >
    {% csrf_token %}
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Enter Your Username" required>
    <br>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Your password" required>
    <br>
    <button type="submit" class="btn btn-primary">se connecter</button>
</form>
<a href="{%url 'home'%}"class="btn btn-light">Accueil</a>
</div>
{% endblock %}