{%extends 'base.html'%}
{% block content %} 
<center>
    <div>
        <p>bienvenue a {{ resto_name }}</p>
    {% for plat in menu %}
    
    <div>
        <p>voici notre carte</p>
        <p>{{ plat.name }}</p>
        <p>{{ plat.price }} DA</p>
        <p>{{ plat.description }}</p>
        {% if plat.thumbnail %}
                    <img src="{{ plat.thumbnail.url }}" alt="{{ plat.name }} Thumbnail">
         {% endif %}
    </div>
    {% if user.is_authenticated %}
    <p><a href="{% url 'add_to_cart' plat.slug %}">ajouter dans le panier</a></p>		 
				<br><br><br><br>
    </div>
    {%endif%}
    </center>
        
    <br><br>
    {% endfor %}

{% endblock %}