{% extends 'base.html' %}
{% block content %}

<center class="mt-4"><h2>S'inscrire en tant que <strong>Client</strong></h2></center>

{% if messages %}
 <strong>{{ messages[-1] }} </strong> 
{% endif %}
<br>

<div class="m-auto w-50">

<form method="post" action="/register/client">
    {% csrf_token %}
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Entrer votre Username" required>
    <br>
    <label for="firstname">Prénom</label>
    <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Entrer votre firstname" required>
    <br>
    <label for="lastname">Nom</label>
    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Entrer votre lastname" required>
    <br>
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="Entrer votre email" required>
    <br>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Entrer votre password" required>
    <br>
    <label for="password1">Password confirmation</label>
    <input class="form-control" type="password" name="password1" id="password1" placeholder="Confirmer votre password" required>
    <br>

    <button class="btn btn-primary" type="submit">s'enregistrer</button>   <a href="{% url 'login' %}" class="ml-3">Vous avez déjà un compte ?</a>
</form>


</div>
{% endblock %}