

{% extends 'base.html' %} <!--sera enlevé-->
{% block content %}

<center class="mt-4"><h2>S'inscrire en tant que <strong>Restaurateur</strong></h2></center>



 <strong>{{ messages[-1] }} </strong> 

<br>

<div class="m-auto w-50">

<form method="post" action="{% url 'register_restaurateur' %}">
    {% csrf_token %}
    <label for="username">username</label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Entrer votre Username" required>
    <br>
    <label for="firstname">Prénom</label>
    <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Entrer votre prénom" required>
    <br>
    <label for="lastname">Nom</label>
    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Entrer votre nom" required>
    <br>
    <label for="email">Email personnel</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="Entrer votre email" required>
    <br>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Entrer votre password" required>
    <br>
    <label for="password1">Password confirmation</label>
    <input class="form-control" type="password" name="password1" id="password1" placeholder="Confirmer votre password" required>
    <br>

    <button type="submit" class="btn btn-primary">s'enregistrer</button>   <a href="{% url 'login' %}" class="ml-3">Vous avez déjà un compte ?</a>
</form>

</div>
{% endblock %}