{% extends 'base.html' %} <!--sera enlevé-->
{% block content %}
<center class="mt-5"><H2>Reserver dans le restaurant </H2></center>
<br>

<form action="{% url 'reserver' resto.id %}" method="post" class="col-md-6 m-auto" id="reservation-form">
    {% csrf_token %}
    <div class="form-group mb-1">
        <label for="nbr_tables">Nombre de tables :</label>
        <input type="number" class="form-control" id="nbr_tables" name="nbr_tables">
      </div>
      <div class="form-group mb-1">
          <label for="nbr_personnes">Nombre de personne :</label>
          <input type="number" class="form-control" id="nbr_personnes" name="nbr_personnes">
        </div>
      <div class="form-group mb-1">
          <label for="date">Reserver pour :</label>
          <input type="date" class="form-control" id="date" name="date">
      </div>
      <div class="form-group mb-1">
          <label for="heure">Heure :</label>
          <input type="time" class="form-control" id="heure" name="heure">
      </div>
      <div class="form-group mb-3">
        <label for="commentaire">Commentaire :</label>
        <input type="text" class="form-control" id="commentaire" name="commentaire" placeholder="une remarque sur la reservation">
      </div>

    <button type="submit" class="btn btn-primary">Confirmer</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Code JavaScript ici
    document.getElementById('reservation-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Empêche le comportement de soumission par défaut du formulaire
      Swal.fire({
        title: 'Reservation demandée',
        text: 'Votre demande de réservation est en cours de traitement, veuillez attendre un message de confirmation par le restaurant dans votre boîte mail',
        icon: 'success',
        confirmButtonText: 'Compris'
      }).then((result) => {
        if (result.isConfirmed) {
          // Soumettre le formulaire
          document.getElementById('reservation-form').submit();
        }
      });
    });
  });
  Swal.fire(
    'Remarque',
    'Votre demande de reservation sera traité ultérieurement par le restaurateur, puis un message de confirmation vous arrivera à votre boite mail envoyé par le restaurant ',
    'warning'
  )
  

</script>



{% endblock %}

