{% extends 'base.html' %}
{% load static %}
{% block content %}
  <center><h1 class="m-4">Commandes en attente : {{num_orders}} </h1>
  {% if user_orders %}
  {% for user_order in user_orders%}
    <details>
      <summary>
        <table class="table ml-4 mr-4">
          <td>{{ user_order.user__username }} </td>
          <td>{{user_order.total_orders}} commande(s)</td>
          <td><a class="btn btn-primary" href="{% url 'process_order_user' user_order.user__username %}"><i class="fa-solid fa-clipboard-check mr-2" style="color: #ffffff;"></i>Traiter toutes les commandes</a></td>
        </table>
      </summary>
      <table class="table">
        <thead class="thead"  style="background-color:#ff9d2c;">
          <th>Produit</th>
          <th>Quantité</th>
          <th>Livraison</th>
          <th>Détails</th>
          <th>Traitement</th>
        </thead>
        <tbody>
          {% for order in orders %}
            {% if order.user.username == user_order.user__username %}
              <tr>
                <td>{{ order.product.name }}</td>
                <td>{{ order.quantity }}</td>
                <td >{% if order.delivery %} 
                 A livrer
                  <span class="details-link" data-order-id="{{ order.id }}"><i id="details-icon" class="fa-solid fa-circle-info fa-beat ml-2" style="color: #000000;font-size:1.1em;"></i></span>

                  {% else %} 
                  A domicile 
                  {% endif %}</td>
                  <td>
                    <div id="details-{{ order.id }}" style="display: none;">
                      {% for livraison in livraisons %}
                      {% if order in livraison.order.all %}
                      <p>livraison pour <strong>{{livraison.user.username}}</strong></p>
                      <p>Num tel°: {{livraison.phone}}</p>
                      <p>Address: {{livraison.address}}</p>
                      <p>Heure: {{livraison.heure}}</p>
                      {%endif%}

                      {%endfor%}
                      
                    </div>
                  </td>
                <td><a class="btn btn-primary" href="{% url 'process_order' order.id %}"><i class="fa-solid fa-clipboard-check mr-2" style="color: #ffffff;"></i> Traiter   </a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </details>
  {% endfor%}
{% endif %}

  </center>
  
  <!--
  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          <strong>{{ order.product.name }}</strong>
          <br>
          Quantité : {{ order.quantity }}
          <br>
          <a href="{% url 'process_order' order.id %}">Traiter</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Aucune commande en attente pour le moment.</p>
  {% endif %}
  -->
  <script>
    // Récupérer tous les éléments avec la classe "details-link"
    const detailsLinks = document.querySelectorAll('.details-link');
  
    // Ajouter un gestionnaire d'événement click à chaque lien
    detailsLinks.forEach(link => {
      link.addEventListener('click', function() {
        const orderId = this.getAttribute('data-order-id');
        const detailsElement = document.getElementById(`details-${orderId}`);
        if (detailsElement.style.display === 'none') {
      detailsElement.style.display = 'block';
    } else {
      detailsElement.style.display = 'none';
    }
      });
    });
  </script>
{% endblock %}


